
<body>
    <h4><img src="/MyLearning/assets/images/lm letter 1.jpg" width="50px" heighr="50px">COURSE<img src="../../assets/images/lm letter 1.jpg" width="50px" heighr="50px"></h4>
<H1><img src="../../assets/images/mims logo.jpg" width="50px" heighr="50px">courses offered acadamic year 2021-2022<img src="../../assets/images/mims logo.jpg" width="50px" heighr="50px"></H1>
<h3> MIMS INTERMEDIATE COLLEGE:</h3>
<table>
<tr>
<th>S.NO</th>
<th>COURSE NAME</th>
<th>MEDIUM</th>
<th>INTAKE</th>
<th>SECTIONS</th>
<th>FEES</th>
</tr>
<tr>
<td>1</td>
<td>MPC(Maths,phy,cem)</td>
<td>TM/EM</td>
<td>240</td>
<td>4</td>
<td>15,000</td>

</tr>
<tr>
<td>2</td>
<td>BI.P.C(bio,phy,cem)</td>
<td>TM/EM</td>
<td>180</td>
<td>3</td>
<td>15,000</td>

</tr>
<tr>
<td>3</td>
<td>CEC(cec com,eco,cev)</td>
<td>TM/EM</td>
<td>120</td>
<td>2</td>
<td>10,000</td>
</tr>
<tr>
<td>4</td>
<td>MEC(maths,eco,cev)</td>
<td>TM/EM</td>
<td>60</td>
<td>1</td>
<td>10,000</td>
</tr>
</table>
<h3>MIMS DEGREE COLLEGE. MANCHERIAL: </h3>
<table>
    <tr>
      <th>S.NO</th>
      <th>courses</th>
      <th>MEDIUM</th>
      <th>INTAKE</th>
      <th>FEES</th>
    </tr>
    <tr>
      <td>1</td>
      <td>B.SC(MATHEMATICS,PHY,COMPUTERS)</td>
      <td>EM</td>
      <td>200</td>
      <td>15,000</td>
    </tr>
    <tr>
      <td>2</td>
      <td>B.SC(MATHS.CEM,COMPUTERS)</td>
      <td>EM</td>
      <td>50</td>
      <td>15,000</td>
    </tr>
    <tr>
      <td>3</td>
      <td>B.SC(MATHS,SASTASTICS,COMPUTERS)</td>
      <td>EM</td>
      <td>50</td>
      <td>15,000</td>
    </tr>
    <tr>
      <td>4</td>
      <td>B.Sc(Botany, Zoology, Chemistry))</td>
      <td>EM</td>
      <td>120</td>
      <td>15,000</td>
    </tr>
    <tr>
        <td>5</td>
        <td>B.Sc(Food Science, Botany, Chemistry)</td>
        <td>EM</td>
        <td>50</td>
        <td>15,000</td>
      </tr>
      <tr>
        <td>6</td>
        <td>B.Com(Computer Applications)</td>
        <td>EM</td>
        <td>100</td>
        <td>15,000</td>
      </tr>
      <tr>
        <td>7</td>
        <td>B.Com(General)</td>
        <td>EM</td>
        <td>50</td>
        <td>15,000</td>
      </tr>
      
      <tr>
        <td>8</td>
        <td>	B.Com(Computer Applications)</td>
        <td>EM</td>
        <td>100</td>
      </tr>
      
      <tr>
        <td>9</td>
        <td>BBA</td>
        <td>EM</td>
        <td>50</td>
        <td>15,000</td>
      </tr>
      
     
  </table>
  <H3>MIMS P.G COLLEGE,MACHERIAL:</H3>
  <table>
 <tr>
    <th>S.NO</th>
    <th>COURSE NAME</th>
    <th>MEDIUM</th>
    <TH>INTAKE</TH>
    <TH>FEES</TH>
  </tr>
  <tr>
    <td>1</td>
    <td>M.Sc(Chemistry)</td>
    <td>ENGLISH</td>
    <td>30</td>
    <Td>25,000 </Td>
  </tr>
  <tr>
    <td>2</td>
    <td>M.Sc(Botany)</td>
    <td>ENGLISH</td>
    <td>30</td>
    <td>25,000</td>
  </tr>
  <tr>
    <td>3</td>
    <td>M.Sc(Maths)</td>
    <td>ENGLISH</td>
    <td>40</td>
    <Td>25,000</Td>
  </tr>
  <tr>
    <td>4</td>
    <td>M.COM</td>
    <td>ENGLISH</td>
    <td>40</td>
    <Td>25,000</Td>
</tr>
</table>

<div class="card-group">
    <div class="card bg-black">
      <div class="card-body text-center"width="50px" height="100px">
        <p class="card-text"><img src="../../assets/images/mims logo.jpg" weight="100px" height="200px"></p>
        
      </div>
      <h6>

      </h6>
    </div>
    <div class="card bg-">
      <div class="card-body text-center"width="50px" height="100px">
        <p class="card-text"><h2>contact us:</h2> 
          <h6> contact:</h6>
          
<h6>+919849525440</h6>
<h6>mimsdc211@gmail.com</h6>
<h6>MANCHERIAL</h6>
          <h6>dist:mancherial</h6>
        <h6>state:telangana</h6>
      </div>
    </div>
    <div class="card bg-pink">
      <div class="card-body text-center"width="50px" height="100px">
        <p class="card-text"><h2>about us:</h2>
          <h6>teachers</h6>
          <h6>faculty
          </h6>
          <h6>hostel</h6>
          <h6>references</h6>
        
          
      </div>
    </div>
    <div class="card-group">
      <div class="card bg-">
        <div class="card-body text-center"width="50px" height="100px">
          <p class="card-text"><img src="../../assets/images/mims logo.jpg" weight="100px" height="200px"></p>
          
        </div>
        </div>
        </div>
        </div>
        
        
        
<div class="card-body "><h2>thank you</h2>
        
    </div>
    </body>    

  
        

 




