<body>
  
     <h1>Our Institutions: (Day & Residential)</h1>
     We are proud to introduce our MIMS Educational Institutes, which aim to provide the best possible outcomes, along with a dedicated, collaborative approach to ensuring the best and quality higher education. Our achievements will be displayed in the form of an expansion of our Ramanujan Educational Society. Today MIMS Institutions are leading the way in providing quality education at all levels and raising skills among students.
     
    <h4> MIMS P.G COLLEGE:</h4>
     MIMS Post Graduate College (Co-Ed.) In 2007, Mims Degree College with Science, Maths & Commerce courses resulted in the great achievement of the Post - Graduate College. It has become more convenient and beneficial for the students to pursue higher education in their own area, without having to travel far to get higher education.
     
    <h4> MIMS JUNIOR COLLEGE:</h4>
     MIMS Junior College was founded in 2010 Mims Junior College has been successful with maximum admissions at the intermediate level and with good results at the state level. Within the first year of launch, we had a full-fledged infrastructure.

    <h4> MIMS COMMERCE JUNIOR COLLEGE: </h4>    MIMS Commerce Junior College was established in 2014 as never before by the Commerce Specialist College in the district to provide quality education at the intermediate level. Providing Commerce Education with specialized Commerce faculty, the work in this area has proven to be excellent.
     
    <h4> MIMS PLAY AND HIGH SCHOOL:</h4>
     MIMS Play School was founded in 2014 to provide a higher education with culture and aimed at unleashing dormant talent among students. Within the first year, classes started from nursery to VII standard and we are successful within the first year. In the first tenth batch (2016-17) our students got ten grade points, Mims School was successful with district level results.
     
     MIMS has been in the hearts of parents since the beginning of school by providing excellent, quality education and culture to all students. The incredible support of our students' parents and the confidence they have shown in us has made us a success and has made it one of the best schools in the region today.

     <h2>The college relationship with society</h2>
     

<ul>
  <li>The widest possible student access to the society
       <li>The contribution which the college can make to society through the pursuit, dissemination and application of knowledge
    National Service Scheme</li>
  <li>Red Cross Society Blood Donation camp every year in the campus</li>
 <li> Concern for sustainability and the relationship with the environment</li>
  <li>Medical Camps in backward villages</li>
  <li>Active volunteership by the students in every government society welfare activities.</li>
  <li>Hostel facility for all level of students.</li>
       </ul>
<h1><img src="../../assets/images/mims logo.jpg" width="100pc" height="100px">Our Moto<img src="../../assets/images/mims logo.jpg" width="100pc" height="100px"></h1>

జఞానం ప్రకాశయతి తత్పరమ్Wisdom of Glory
జ్ఞానమనేది శ్రేష్ఠత్వాన్ని కలుగచేస్తుంది ఎలాగైతే సూర్యుడు సమస్త చీకట్లను తొలగింపజేసి ప్రకాశాన్ని అందిస్తాడో, అదేవిదంగా జ్ఞానం అన్ని రకాల అజ్ఞానములను తొలగించి పరమాత్మని ( పరమాత్మ అంటే ఇక్కడ సర్వశ్రేష్టమైన విషయము అని అర్థము) తెలియజేస్తుంది.l> 



<h1>Admission process:</h1>
  According to the TSCHE directions online admission through DOST(Degree Online Services Telangana) for Graduate students is done. Once the online admission process is completed then the students have to submit the following documents at the time of reporting to the college to confirm their admission in the allotted college as per ‘DOST’
  
  instructions:
  Allotment letter issued by ‘DOST"
  Transfer certificate
  Intermediate & SSC marks sheets (memos)
  Bonafied/Study certificate (from 4th to Inter)
  Aadhar card copy
  Pass Photo
  Caste certificate (if applicable)
  Income Certificate(to avail RTF & MTF facility)
  Contact phone number
  Alternative contact number
  Important note:
  Aadhar linked phone number is must

  Income certificate issued in/after the month of June of respective academic year is only valid .
  <br>
  <br>
  <div id="div1"><h4>    Thank You For Watching My Website</h4>
   












  