<body>
<h1>FACULTY</h1>
<H4>most experiance candidates in our college</H4>
<table style="width:100%">
    <tr>
      <th>S.NO</th>
      <th>PHOTO</th> 
      <th>NAME</th>
      <th>DESIGNINATION</th>
      <th>QUALIFICATION</th>
      <th>EXPERIANCE</th>
      <th>DEPAEMENT</th>
    </tr>
    <tr>
      <td>1</td>
      <td><img src="././assets/images/upendhar.jpg" width="100px" height="100px"></td>
      <td>P. Upender Reddy</td>
      <th>principal</th>
      <th>M.Sc, B.Ed.,B.P.Ed., M.Phil.</th>
      <th>23yrs</th>
      <th>maths</th>
    </tr>
    <tr>
      <td>2</td>
      <td><img src="././assets/images/srinivas.jpg" width="100px" height="100px"></td>
      <td>T. Srinivas Raju</td>
      <th>Correspondent & HOD</th>
      <th>MCS</th>
      <th>22</th>
      <th>COMPUTER SCIENCE></th>
    </tr>
    <tr>
      <td>3</td>
      <td><img src="././assets/images/sridhar.jpg" width="100px" height="100px"></td>
      <td>P.SRIdHAR RAO</td>
      <th>VICE-PRINCIPAL</th>
      <th>MSC(CS)</th>
      <th>18</th>
      <th>COMPUTER SCIENCE</th>
    </tr>
    <tr>
        <td>4</td>
        <td><img src="././assets/images/swetha.jpg" width="100px" height="100px"></td>
        <td>K.SWETHA</td>  
        <td> TRAINING,PLACEMENT  OFFICERAND LECTURE</td>
        <td>MCA</td>
        <td>9</td>
        <td>COMPUTER SCIENCE</td>
</tr>
<tr>
    <td>5</td>
    <td><img src="././assets/images/laxmi.jpg" width="100px" height="100px"></td>
    <td>K.KAXMINARAYANA</td>  
    <td>TASK coordinator & Lecturer</td>
    <td>M.TECH,MCA</td>
    <td>11</td>
    <td>COMPUUUUER SCIENCE</td>
</tr>
<tr>
    <td>6</td>
    <td><img src="././assets/images/rohith.jpg" width="100px" height="100px"></td>
    <td>CH.ROHITH KUMAR</td>  
    <td>LECTURE</td>
    <td>M.TECH(CS),MCA</td>
    <td>9</td>
    <td>COMPUTER SCIENCE</td>
</tr>



<tr>
    <td>7</td>
    <td><img src="././assets/images/maleesh phy.jpg" width="100px" height="100px"></td>
    <td>ch.mallesh</td>  
    <td>HOD</td>
    <td>M.Sc(Physics),B.Ed.</td>
    <td>13</td>
    <td>physics</td>

    </tr>
   
    


<tr>
    <td>8</td>
    <td><img src="././assets/images/vijay.jpg" width="100px" height="100px"></td>
    <td>m.vijaykumar</td>  
    <td>Academic Coordinator & HOD</td>
    <td>M.Sc(Maths)-Hyderabad Central University	Mathematics</td>
    <td>19</td>
    <td>mathematics</td>

    

</tr>
<tr>
    <td>9</td>
    <td><img src="././assets/images/rajashekar.jpg" width="100px" height="100px"></td>
    <td>A.Rajashekar</td>  
    <td>HOD</td>
    <td>M.Sc(Organic Chemistry)	Chemistry</td>
    <td>8</td>
    <td>chemistry</td>

    

</tr>
<tr>
    <td>10</td>
    <td><img src="././assets/images/rajendhar.jpg" width="100px" height="100px"></td>
    <td>P.Rajender</td>  
    <td>Lecturer</td>
    <td>M.Sc(Chemistry),B.Ed.</td>
    <td>8</td>
    <td>chemistry</td>

    
</tr>

<tr>
    <td>11</td>
    <td><img src="././assets/images/ravi botony.jpg" width="100px" height="100px"></td>
    <td>P.Ravi Kumar	HOD	M.Sc(Botany),B.Ed.	Botany	12</td>  
    <td>HOD</td>
    <td>M.Sc(Botany),B.Ed.</td>
    <td>12</td>
    <td>	Botany</td>

    

</tr>
<tr>
    <td>12</td>
    <td><img src="././assets/images/archana.jpg" width="100px" height="100px"></td>
    <td>m.archana</td>  
    <td>Lecturer</td>
    <td>M.Sc(Botany)</td>
    <td>9</td>
    <td>Botany</td>

    

</tr>
<tr>
    <td>13</td>
    <td><img src="././assets/images/sadhaiah.jpg" width="100px" height="100px"></td>
    <td>G. Sadaia</td>  
    <td>Exam Incharge & HOD</td>
    <td>	M.Sc(Zoology),B.Ed.</td>
    <td>17</td>
    <td>,B.Ed.	Zoology</td>

    

</tr>
<tr>
    <td>14</td>
    <td><img src="././assets/images/cm.jpg" width="100px" height="100px"></td>
    <td>chandra Mohan	</td>  
    <td>Internal Exam Incharge & HOD</td>
    <td>m.com</td>
    <td>25</td>
    <td>commerce</td>

    
</tr>

<tr>
    <td>15</td>
    <td><img src="././assets/images/sumalatha.jpg" width="100px" height="100px"></td>
    <td>K. Sumalatha</td>  
    <td>Lecturer</td>
    <td>M.Com</td>
    <td>14</td>
    <td>commerce</td>

    

</tr>
<tr>
    <td>16</td>
    <td><img src="././assets/images/prasad.jpg" width="100px" height="100px"></td>
    <td>B. Prasad	</td>  
    <td>lecturer</td>
    <td>M.Com,M.B.A(finance)</td>
    <td>10</td>
    <td>commerce</td>

    
</tr>

<tr>
    <td>17</td>
<td><img src="././assets/images/pt.jpg" width="100px" height="100px"></td>

    <td>N. Srinivas	</td>  
    <td>Lecturer</td>
    <td>B.P.Ed.</td>
    <td>	25</td>
    <td>	Physical Education</td>

    

</tr>
<tr>
    <td>18</td>
    <td><img src="././assets/images/ravi eng.jpg" width="100px" height="100px"></td>
    <td>S. Ravi Kumar</td>  
    <td>NSS Program Officer & Lecturer</td>
    <td>M.A(English),M.B.A</td>
    <td>10</td>
    <td>english</td>

    
</tr>

<tr>
    <td>19</td>
    <td><img src="././assets/images/malllesh.jpg" width="100px" height="100px"></td>
    <td>	B. Mahesh	</td>  
    <td>Lecturer</td>
    <td>M.A(English),B.Ed.</td>
    <td>10</td>
    <td>	English	</td>

    
</tr>

<tr>
    <td>20</td>
    <td><img src="././assets/images/chandrashekar.jpg"width="100px" height="100px"></td>
    <td>	Y.Chandrashakar</td>  
    <td>Lecturer</td>
    <td>M.A(Sanskrit)</td>
    <td>20</td>
    <td>sankrit</td>

    
</tr>

<tr>
    <td></td>
    <td><img src="././assets/images/ramesh.jpg" width="100px" height="100px"></td>
    <td>B. Ramesh</td>  
    <td>Lecturer</td>
    <td>M.A(Public Add.), M.Lib.Sc</td>
    <td>3</td>
    <td>Library Science</td>

    
</tr>
</table>
<br>

<div id="div1"><h4>    Thank You For Watching My Website</h4>
   
   