
<body>
    <h1>CONTACT US </h1>

    <div class="card-group">
        <div class="card bg-black-pink">
          <div class="card-body text-center"width="50px" height="100px">
            <p class="card-text"><img src="../../assets/images/mims logo.jpg" weight="100px" height="200px"></p>
            <h5>contac with:</h5>
            <h6>ph no:+919849525440</h6>
            <h6>mancherial</h6>
            
          </div>
          <h6>
    
          </h6>
        </div>
        <div class="card bg-">
          <div class="card-body text-center"width="50px" height="100px">
            <p class="card-text"><img src="../../assets/images/mims logo.jpg" weight="100px" height="200px"></p> 
              <h6> contactwith:</h6>
              <h5>EMAIL ADRESS:</h5>
              <h6>mimsdc211@gmail.com</h6>
              <h6>mancherial </h6>
              <h6>telangana</h6>
    
          </div>
        </div>
        <div class="card bg-pink">
          <div class="card-body text-center"width="50px" height="100px">
            <p class="card-text"><img src="../../assets/images/mims logo.jpg" weight="100px" height="200px"></p>
              <h5>CONTACT WITH:</h5>
              <h6>send a message</h6>
              <h6>mancherial</h6>
              <h6>telangana</h6>
              
            
              
          </div>
        </div>
        <div class="card-group">
          <div class="card bg-">
            <div class="card-body text-center"width="50px" height="100px">
              <p class="card-text"><img src="../../assets/images/mims logo.jpg" weight="100px" height="200px"></p>
              <h5>FAX</h5>
            </div>
            </div>
            </div>
            </div>
             <br>   
            <div id="div1"><h4>    Mims Instititions,Mancherial</h4>
                </div>
                <nav class="navbar navbar-expand-sm ">     
