cd MyProjcth1{
    color:blue;
    text-align: center;
    
    
}
h2{
    color: white;
    text-align: center;
    background-color:black ;
}
h5{
    background-color:aqua;
    text-align: center;
}
.flex-container{
    display: flex;
    justify-content: space-around;
}


#div1 {
    width: 1500px;
    height: 70px;
    background-color:#a9a9a9;
    font-weight: bold;
    position: relative;
    
    animation : mymove 2s  infinite;
  }
  
  #div1 {animation-timing-function:linear;}
  
  @keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
  }
  h6{
      background-color:blanchedalmond;
      text-align: center;
  }

  :host
  {
     background-image: url("https://thumbs.dreamstime.com/b/education-child-holding-stack-books-mortar-board-chalk-drawing-blackboard-concept-university-future-aspirations-41028719.jpg");
  }
h1{
    text-align: center;
    background-color: aqua;
}  

