
   <h1> <img src="../../assets/images/lm letter 1.jpg" 
    alt="no" width="60px" height="60px">WELCOME TO MIMS DEGREE &P.G COLLEGE 
        <img src="../../assets/images/lm letter 1.jpg"alt="no" width="60px" height="60px"></h1>
    
<div class="flex-container">    
    <div class="container">
      
  <h2>Mims High School</h2>
 <p>image here:</p>
  <div class="card" style="width:200px">
    <img class="card-img-top" src="../../../assets/images/play schools.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">High</h4>
      <p class="card-text">Godavari Road, Mancherial
        (Recognized by Govt of Telangana)
        Pre Primary , Primary , High School
         
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
    </div>
      </div>

    <div class="container">
      <h2>Mims Inter College</h2>

     <p>image here:</p>
      <div class="card" style="width:200px">
        <img class="card-img-top" src="../../../assets/images/inter.jpg" alt="Card image" style="width:100%" height="200px">
        <div class="card-body">
          <h4 class="card-title">INTER</h4>
          <p class="card-text">(Recognized by Govt of Telangana)
            BPL X-Road, Mancherial
            (Day & Residential)
            (Co-Education</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
        </div>
        </div>
        
        

        <div class="container">
          <h2>Mims Degree College</h2>
          <p>image here:</p>
          <div class="card" style="width:200px">
            <img class="card-img-top" src="../../../assets/images/degree.jpg" alt="Card image" style="width:100%" height="200px">
            <div class="card-body">
              <h4 class="card-title">DEGREE</h4>
              <p class="card-text">(Affiliated to KU)
                BPL X-Road, Mancherial
                (Day & Residential)
                (Co-Education)</p>
              <a href="#" class="btn btn-primary">See Profile</a>
            </div>
            </div>
            </div>
           
    <div class="container">
  <h2>Mims P.G College</h2>
  <p>image here:</p>
  <div class="card" style="width:200px">
    <img class="card-img-top" src="../../../assets/images/p.g.jpg" alt="Card image" style="width:100%" height="200px">
    <div class="card-body">
      <h4 class="card-title">P.G</h4>
      <p class="card-text">(Affiliated to KU)
        Godavari Road, Mancherial
        (Day & Residential)
        (Co-Education)</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
    </div>
    </div>
</div> 
<br>

  <h2><img src="../../../assets/images/papa.jpg" alt="no" width="50" height="50px">
    MIMS GROUP OF INSTITUTIONS <img src="../../../assets/images/papa.jpg" alt="no" width="50" height="50px"></h2>
  <h5> mims groups of institutions, providing quality education in Mancherial district through various institutions.
    </h5>

    <div id="div1"><h4>      <img src="../../../assets/images/books2.jpg" alt="no" width="100px" height="60px">  
       <img src="../../../assets/images/bottom.jpg" alt="no" width="100px" height="60px">
      <img src="../../../assets/images/books.jpg" alt="no" width="100px" height="60px">
      :SEE MORE UPDATE HERE:
      <img src="../../../assets/images/books2.jpg" alt="no" width="100px" height="60px">
      <img src="../../../assets/images/bottom.jpg" alt="no" width="100px" height="60px">
      <img src="../../../assets/images/books.jpg" alt="no" width="100px" height="60px">
    </h4>
  </div>

    <br>
    <h1>thank you for visiting our website</h1>